.container {
    background-image: url("../public/background/accueil2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.description {
    display: block;
    margin: auto 2em;
}

.description li {
    list-style-type: disc;
}

.imagesList {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.imageContainer {
    display: block;
    width: 80%;
    height: auto;
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
}