.container {
    background-image: url("../public/background/accueil.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 1em;
}

.titleContainer {
    position: relative;
    margin-left: 2rem;
}

.title {
    font-size: 1.8em;
    margin-top: 2vh;
}

.content {
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: 2rem;
    display: block;
}

.description li {
    list-style-type: disc;
}

.imagesList {
    margin: 1rem 1rem auto 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.imagesList li {
    max-width: 30%;
    text-align: center;
}

.imageContainer img {
    width: 100%;
    height: auto;
}