.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.logo {
  padding-left: 3rem
}

.leftside {
  background-image: url("../public/images/homepage-left.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rightside {
  background-image: url("../public/background/accueil.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
  margin-left: 3rem;
}

.brand_title h2 {
  font-family: "Big Caslon Medium";
  font-size: smaller;
}

.contacts a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}

.contacts a img {
  width: 2rem;
  height: auto;
  margin-bottom: .5rem;
}


@media (max-width: 640px) {
  .brand_title {
    margin-right: 2rem;
  }

  .contacts :nth-child(2) {
    font-size: 12px;
  }
}